<div id="container">
  <div id="buttonBox" class="floatBox">
    <!-- <button (click)="getImage()">hgdytrs</button> -->
    <h2>Processed Images:</h2>
    <p>Click to see image.</p>
    <ul>
        <li *ngFor="let html of htmlString">
            <button mat-raised-button (click)="getImage($event)">{{html}}</button>
        </li>
    </ul>
  </div>

  <div id="imageBox" class="floatBox" *ngIf="imageBuffer">
    <img width="500px" height="500px" alt="star" src="data:image/gif;base64,{{imageBuffer}}" />
  </div>
</div>
